html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-spinner {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
}
